@import 'tailwindcss';

body {
	background-color: #06161f;
	font-family: "Courier New", Courier, monospace;
	color: white;
}

.bg-card {
	background-color: #232526;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-card-hover {
	background-color: #36393b;
}

.selected {
	border-bottom: 2px solid #4c5052;
}

a:hover {
	color: #babfc2;
	transition: all 0.1s ease-in-out;
}

a {
	transition: all 0.1s ease-in-out;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

ul {
	list-style-type: disc;
	padding-left: 2rem;  
}

input {
	background-color: #232526;
	color: white;
	border: 1px solid #4c5052;
	border-radius: 4px;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

button[type="submit"] {
	background-color: #4c5052;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 0.5rem 1rem;
	cursor: pointer;
}